.tabs {
    display: none;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

#loading {
    width: 100%;
    height: 100%;
    background:#ffffff00;
    font-size: 14px;
    font-family: 'Noto Serif SC';
    font-weight: 400;
    color: #666;
    text-align: center;
    padding-top: 360px;
}

.lottie {
    display:inline-block;
}

 .navbar {
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color: #111;    
    background-color: #f6f6f6;
    
}

.web-title {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;

}

.navbar h1 {
    font-size: 30px;
    margin-bottom: 0;
    color: #111;
    font-family: 'Caveat';
    font-weight: 700;
}

.navbar h2 {
    font-size: 14px;
    font-family: 'Noto Serif SC';
    font-weight: 400;
    color: #888;
    margin-top: 5px;
}

/* 汉堡菜单 */
.menu-icon {
    cursor: pointer;
    width: 24px;
    height: 20px;
    padding-right: 5%;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
}

.menu-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 24px;
    background: #333;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu-icon span:nth-child(1) {
    top: 0px;
}

.menu-icon span:nth-child(2) {
    top: 8px;
}

.menu-icon span:nth-child(3) {
    top: 16px;
}

.menu-icon.open span:nth-child(1) {
    top: 8px;
    transform: rotate(135deg);
}

.menu-icon.open span:nth-child(2) {
    opacity: 0;
}

.menu-icon.open span:nth-child(3) {
    top: 8px;
    transform: rotate(-135deg);
}

/* 弹出浮层 */
.menu {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    margin-top: 90px;
    background-color:#f6f6f6d1; /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Creates the frosted glass effect */
    transition: opacity 1s ease-in-out; /* Add transition to opacity */
    font-size: 14px;
    font-family: 'Noto Serif SC';
    font-weight: 400;
    color: #333;
    text-align: center;
    padding-top: 300px;
    line-height: 2em;
    z-index: 9999;
}

.menu.active {
    display: block;
    opacity: 1; /* Fully visible */
}

/* 锚点导航 */
.tabs {
    padding: 8px 5%;
    background-color: #f6f6f6;
}

.grouptag {
    width: 80px;
    height: 30px;
    color: #333;
    background: #ffffff00;
    border-radius: 15px;
    border: 0.5px solid #999;
}

.selected {
    width: 80px;
    height: 30px;
    color: #f1f1f1;
    background: #7B7C5F;
    border-radius: 15px;
    border: none; 
    outline: none; 
}

main {
    display: block;
    justify-content: flex-start;
    padding: 120px 5% 30px;
    align-items: flex-start;
}

.group {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #111;
    font-size: 16px;
}

.group h2 {
    flex-basis: 100%;
    font-size: 20px;
    font-family: 'Noto Serif SC';
    font-weight: 600;
    color: #333;

}

@keyframes slideIn {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.brand-card {
    display: flex;
    align-items: center;
    background-color: #fefefe;
    width: 100%; 
    height: 80px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s;
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.brand-logo {
    width: 54px;
    height: 54px;
    margin: 0 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    object-fit: cover;
}

.brand-details {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 10px;
}

.brand-name {
    font-size: 14px;
    font-weight: bold;
    color: #111111;
    margin: 0 0 4px 0;
}

.brand-intro {
    font-size: 12px;
    color: #888;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
    .brand-card {
        display: flex;
        align-items: center;
        width: 350px;
        height: 80px;
        border-radius: 5px;
        margin: 10px 20px 10px 0;
        padding: 10px;
        text-align: left;
    }
    .brand-logo {
        width: 54px;
        height: 54px;
        margin: 0 10px;
        border-radius: 5px;
    }
        
    .brand-details {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
    }

    .brand-name {
        font-size: 14px;
        font-weight: bold;
        color: #111111;
        margin: 0 0 4px 0;
    }

    .brand-intro {
        font-size: 12px;
        color: #888;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

footer {
    display: none;
    padding: 0 5%;
    bottom: 0;
    height: 36px;
}

footer p {
    font-size: 14px;
    color: #888;
    text-align: left;
    margin: 10px 0 10px 0;
}
