.tabs {
    display: none;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8e7e0;
}

@keyframes BackgroundGradient {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}

#loading {
    width: 100%;
    height: 100%;
    background:#ffffff00;
    font-size: 14px;
    font-family: 'Noto Serif SC';
    font-weight: 400;
    color: #666;
    text-align: center;
    padding-top: 360px;
}

.lottie {
    display:inline-block;
}

.navbar-and-tabs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #f6f6f600;
    backdrop-filter: blur(40px);
    transition: background-color 0.3s ease;
}

body[data-scroll="1"] .navbar-and-tabs {
    background-color: #f6f6f6b3;
}

.navbar {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.web-title {
    flex: 1;
}

.navbar h1 {
    font-size: 30px;
    margin-bottom: 0;
    color: #7f332e;
    font-family: 'Caveat';
    font-weight: 700;
}

.navbar h2 {
    font-size: 14px;
    font-family: 'Noto Serif SC';
    font-weight: 400;
    color: #888;
    margin-top: 5px;
}

.menu-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    transition: .5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0;
}

.menu-icon span {
    display: block;
    height: 2px;
    width: 100%;
    background: #333;
    border-radius: 2px;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    position: absolute;
    left: 0;
}

.menu-icon span:nth-child(1) {
    top: 25%;
}

.menu-icon span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.menu-icon span:nth-child(3) {
    bottom: 25%;
}

.menu-icon.open span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.menu-icon.open span:nth-child(2) {
    opacity: 0;
}

.menu-icon.open span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.menu {
    position: fixed;
    top: 0; 
    left: 0; 
    visibility: hidden;     
    opacity: 0;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out; 
    width: 100%;
    height: 100%;
    margin-top: 90px;
    background-color:#f6f6f6ee; 
    backdrop-filter: blur(10px); 
    font-size: 16px;
    font-family: 'Noto Serif SC';
    font-weight: 400;
    color: #666;
    text-align: center;
    padding-top: 150px;
    line-height: 2em;
    z-index: 9999;
}

.menu.active {
    visibility: visible;
    opacity: 1;
}

.tabs {
    padding: 8px 5%;
}

.grouptag {
    width: 80px;
    height: 30px;
    color: #333;
    background: #ffffff00;
    border-radius: 15px;
    border: 1px solid #bbbbbb;
}

.selected {
    width: 80px;
    height: 30px;
    color: #f1f1f1;
    background: #7B7C5F;
    border-radius: 15px;
    border: none; 
    outline: none; 
}

main {
    display: block;
    justify-content: flex-start;
    padding: 120px 5% 30px;
    align-items: flex-start;
}

.group {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #111;
    font-size: 16px;
}

.group h2 {
    flex-basis: 100%;
    font-size: 20px;
    font-family: 'Noto Serif SC';
    font-weight: 600;
    color: #333;
}

.brand-card {
    display: flex;
    align-items: center;
    background-color: #fefefeaa;
    width: 100%; 
    height: 80px;
    margin: 10px 0;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
    animation-name: slideIn;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
}

@keyframes slideIn {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.brand-logo {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    object-fit: cover;
}

.brand-details {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 10px;
}

.brand-name {
    font-size: 14px;
    font-weight: bold;
    color: #111111;
    margin: 0 0 4px;
}

.brand-intro {
    font-size: 12px;
    font-weight: 300;
    color: #888;
    margin: 0;  
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
    .brands-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); 
        gap: 20px;
        width: 100%;
    }
    .brand-card {
        display: flex;
        align-items: center;
        background-color: #ffffffaa;
        backdrop-filter: blur(20px);
        width: 100%;
        height: 100%;
        border-radius: 5px;
        margin: 10px 20px 10px 0;
        padding: 10px;
        text-align: left;
        box-sizing: border-box;
    }
    .brand-card:hover {
        background-color: #ffffff;
    }
    .brand-card:focus {
        background-color: #ffffffaa;
    }
    
    .brand-logo {
        width: 80px;
        height: 80px;
        margin: 0 10px;
        border-radius: 5px;
    }
        
    .brand-details {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
    }

    .brand-name {
        font-size: 14px;
        font-weight: bold;
        color: #111111;
        margin: 0 0 4px;
    }

    .brand-intro {
        font-size: 12px;
        font-weight: 300;
        color: #888;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.subscribe {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}
.subscribe-content {
    background-color: #fefefebb;
    border-radius: 5px;
    box-shadow: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
}

.subscribe-button {
    background-color: #7B7C5F;
    color: #f1f1f1;
    border-radius: 5px;
    padding: 5px 15px;
    text-decoration: none;
}

.socialmedia {
    display: inline-flex;
    padding: 0;
    list-style: none;
}

li {
    padding: 0 15px 0 0;
    width: 32px;
    height: 32px;
}

footer {
    display: none;
    justify-content: center;
    padding: 0 5%;
    padding-bottom: 40px;
    height: 40px;
}

footer p {
    font-size: 14px;
    color: #888;
    text-align: left;
    margin: 20px 0;
}

/* 暗色模式样式 */
@media (prefers-color-scheme: dark) {
    /* 调整背景色 */
    body {
        background-color: #333;
    }
     /* 反转 Lottie 动画颜色 */
     lottie-player {
        filter: invert(100%) hue-rotate(180deg);
    }

    /* 微调导航栏 */
    .navbar-and-tabs {
        background-color: #333;
    }

    body[data-scroll="1"] .navbar-and-tabs {
        background-color: #333333cc;
    }

    .navbar h1 {
        color: #bf6c66;
    }

    .navbar h2 {
        color: #777;
    }

    /* 调整菜单图标 */
    .menu-icon span {
        background: #ccc;
    }

    /* 调整菜单 */
    .menu {
        background-color: #1a1a1aee;
        color: #999;
    }

    /* 调整品牌卡片 */
    .brand-card {
        background-color: #2a2a2a;
    }

    .brand-card:hover {
        background-color: #222222;
    }

    .brand-name {
        color: #ccc;
    }

    .brand-intro {
        color: #999;
    }

    /* 调整标签 */
    .grouptag {
        color: #ccc;
        border-color: #444;
    }

    .selected {
        color: #0e0e0e;
        background: #84856a;
    }

    /* 调整组标题 */
    .group h2 {
        color: #ccc;
    }

    /* 调整订阅区域 */
    .subscribe-content {
        background-color: #00000033;
    }

    .subscribe-button {
        background-color: #84856a;
        color: #0e0e0e;
    }

    /* 调整页脚 */
    footer p {
        color: #777;
    }

    /* 调整加载动画 */
    #loading {
        background: #1a1a1a00;
        color: #999;
    }

}